rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
		match /chatrooms/{chatId} {
			allow write: if request.auth.uid == request.resource.data.owner; 
			allow read: if true;
		}
    match /{document=**} {
      allow read, write: if false;
    }
  }
}