.m-t-8 {
	margin-top: 8px;
}
.m-b-4 {
	margin-bottom: 4px;
}
.m-b-8 {
	margin-bottom: 8px;
}
.m-b-16 {
	margin-bottom: 16px;
}
.h1 {
	font-size: 1.8em;
	font-weight: bold;
	margin-bottom: 8px;
}
.h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 8px;
}